@** definir a classe de modelo desta página *@
@model AgendaContatos.Mvc.Models.AccountPasswordModel

@{
    //define o layout da página
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="text-center">
    <h5 class="card-title">Esqueci minha senha</h5>
    <p class="card-text">Entre com seus dados:</p>
</div>

<hr />

@using(Html.BeginForm())
{
    <div class="mb-2">
        <label>Entre com o seu email:</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="mb-2 d-grid">
        <input type="submit" class="btn btn-success btn-sm"
               value="Recuperar Senha" />
    </div>

    <div class="mb-2 d-grid">
        <a href="/Account/Login" class="btn btn-light btn-sm">
            Já possui conta? <strong>Acesse aqui!</strong>
        </a>
    </div>

}
