<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" [routerLink]="['/acessar-conta']">
            Agenda de Contatos
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div *ngIf="!auth" class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" [routerLink]="['/acessar-conta']">
                        Acessar Conta
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" [routerLink]="['/criar-conta']">
                        Crie sua Conta
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" [routerLink]="['/esqueci-minha-senha']">
                        Esqueci minha senha
                    </a>
                </li>
            </ul>
        </div>

        <div *ngIf="auth" class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" [routerLink]="['/dashboard']">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" [routerLink]="['/cadastrar-contatos']">
                        Cadastrar Contatos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" [routerLink]="['/consultar-contatos']">
                        Consultar Contatos
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active text-white" href="#">
                        {{auth.nome}} | {{auth.email}}
                    </a>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn text-white" (click)="logout()">
                        Sair do sistema
                    </button>
                </li>
            </ul>
        </div>

    </div>
</nav>