<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-light text-center">
                    <h4>Esqueci minha senha</h4>
                </div>
                <div class="card-body">

                    <p class="text-center">
                        Informe seu email para gerar uma recuperação de senha no sistema.
                    </p>

                    <div *ngIf="mensagemSucesso" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Sucesso!</strong> {{mensagemSucesso}}
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="mensagemSucesso = ''"></button>
                    </div>

                    <div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Erro!</strong> {{mensagemErro}}
                        <button type="button" class="btn-close" aria-label="Close" (click)="mensagemErro = ''"></button>
                    </div>

                    <form [formGroup]="formRecuperarSenha" (ngSubmit)="onSubmit()">

                        <div class="mb-2">
                            <label for="inputEmail" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="inputEmail" formControlName="email">
                            <span class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                                <small *ngIf="form.email.errors.required">
                                    Por favor, informe o email do usuário.
                                </small>
                                <small *ngIf="form.email.errors.email">
                                    Por favor, informe um endereço de email válido.
                                </small>
                            </span>
                        </div>
                        <div class="d-grid mb-2">
                            <button type="submit" [disabled]="!formRecuperarSenha.valid"
                                class="btn btn-success btn-sm">
                                Recuperar Senha
                            </button>
                        </div>
                    </form>

                    <div class="d-grid">
                        <a class="btn btn-light btn-sm" [routerLink]="['/acessar-conta']">
                            Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>